.frist{
		 
}
.header-con{
	padding: 0px;
	 
}
.log{
	color: black;
	float: left;

}
.lra{
	 text-decoration-color: black
}

a{
	color: black
}
 
 @font-face {
  font-family: 'Glyphicons Halflings';

  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('/assets/glyphicons-halflings-regular.ttf') format('truetype'),
  url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.asdd{
	 background-color: blue
}